/* put your font link here*/
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
/* put your font variable here*/
/* put your font width here*/
/* mix your font here*/
/* font renponsive */
/* Large font */
/* medium font */
/* small font */
/* computer screen */
/* computer screen */
/* tablet screen */
/* mobile screen */
/*---------------Main Css Start---------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

/*---------------Selected Color---------------*/
*::-moz-selection {
  background: #FF9F1A;
  color: #FFFFFF;
}
*::selection {
  background: #FF9F1A;
  color: #FFFFFF;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-device-width: 480px) {
  html {
    font-size: 45%;
  }
}

body {
  color: #A7A7A7;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
}

.container {
  width: 100%;
  padding: 0 9%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

span {
  color: rgba(255, 159, 26, 0.9);
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  line-height: 1.3;
  font-size: 3.125rem;
}

h2 {
  line-height: 1;
  font-size: 2.125rem;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* button preset*/
.btn {
  display: inline-block;
  text-align: center;
  padding: .8rem 3rem;
  border: 0.2rem solid rgba(255, 159, 26, 0.8);
  color: rgba(255, 159, 26, 0.9);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  white-space: nowrap;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 159, 26, 0.9);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.9);
}

.hover:hover,
.hover:focus {
  color: rgba(255, 159, 26, 0.9);
}

.stars i {
  font-size: 2rem;
  color: rgba(255, 159, 26, 0.9);
  padding: .5rem 0;
}

.stars i:nth-child(5) {
  color: rgba(255, 159, 26, 0.1);
}

.support i {
  font-size: 2rem;
  color: rgba(255, 159, 26, 0.9);
  padding: .5rem 0;
}

.box-icons a {
  font-size: 2rem;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
  padding: 1.2rem;
  color: rgba(44, 44, 89, 0.9);
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.box-icons a:hover,
.box-icons a:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 159, 26, 0.9);
  cursor: pointer;
}

.box-price {
  font-size: 1.7rem;
  color: rgba(34, 33, 33, 0.9);
}

.box-price span {
  font-size: 1.6rem;
  text-decoration: line-through;
}

/*---------------Menu Start---------------*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2rem 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__bar {
  font-size: 3rem;
  cursor: pointer;
  color: rgba(96, 96, 96, 0.9);
  border: 0.1rem solid rgba(255, 159, 26, 0.6);
  border-radius: .3rem;
  padding: 0.4rem 1.5rem;
}

@media screen and (min-device-width: 769px) {
  .nav__bar {
    display: none;
  }
}

.nav__logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgba(44, 44, 89, 0.9);
}

@media screen and (max-device-width: 768px) {
  .nav__nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #E8E9EB;
    border-top: 0.1rem solid rgba(34, 33, 33, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav__nav-bar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .nav__nav-bar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(34, 33, 33, 0.1);
    border-left: 0.5rem solid rgba(255, 159, 26, 0.9);
    border-right: 0.5rem solid rgba(255, 159, 26, 0.9);
    color: #FFFFFF;
    text-align: center;
  }
}

.nav__nav-bar a {
  color: rgba(96, 96, 96, 0.9);
  margin-left: 2rem;
  font-size: 2.125rem;
}

.nav__icons {
  font-size: 2rem;
}

.nav__icons a {
  padding: 0 0.8rem;
  color: rgba(44, 44, 89, 0.9);
}

/*------------ Hero Section ---------------*/
.hero {
  padding: 0;
  position: relative;
}

.hero__slider {
  display: none;
}

.hero__slider-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: calc(9rem);
}

.hero__slider-container:nth-child(1) {
  background: url(/img/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__slider-container:nth-child(2) {
  background: url(/img/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__slider-container:nth-child(3) {
  background: url(/img/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__slider--text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-animation: slideContent .5s linear 1s;
          animation: slideContent .5s linear 1s;
}

.hero__slider--text h2 {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
  font-size: 2rem;
}

.hero__slider--text h1 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(44, 44, 89, 0.9);
  white-space: nowrap;
  font-size: 4rem;
  text-align: left;
}

.hero__slider--text p {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
}

@-webkit-keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

@keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

.hero__slider--img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

@media screen and (max-device-width: 365px) {
  .hero__slider--img {
    top: 8rem;
  }
}

.hero__slider--img .shoe {
  width: 100%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-animation: shoe .3s linear;
          animation: shoe .3s linear;
}

@-webkit-keyframes shoe {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

@keyframes shoe {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

.hero__slider--img .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation: shoeText .5s linear .5s backwards;
          animation: shoeText .5s linear .5s backwards;
}

@media screen and (max-device-width: 873px) {
  .hero__slider--img .text {
    top: -14rem;
  }
}

@-webkit-keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.hero__active {
  display: block;
}

.hero #prev, .hero #next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: rgba(34, 33, 33, 0.8);
  border: 0.3rem solid rgba(255, 159, 26, 0.8);
  cursor: pointer;
  text-align: center;
}

.hero #prev, .hero #next {
  background: rgba(247, 247, 247, 0.8);
}

.hero #prev {
  left: 3rem;
}

.hero #next {
  right: 3rem;
}

.span-1 {
  color: rgba(255, 56, 56, 0.8);
}

.span-2 {
  color: rgba(37, 65, 178, 0.8);
}

.span-3 {
  color: rgba(255, 159, 26, 0.8);
}

/*------------ Support Section ---------------*/
.support__area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
  padding: 1rem;
}

@media screen and (min-device-width: 555px) {
  .support__area {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.support__area i {
  font-size: 4rem;
}

.support__area--delivery {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.support__area--replacement {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.support__area--time {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.support__heading {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
  font-size: 1.8rem;
}

@media screen and (max-device-width: 651px) {
  .support__heading {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
  }
}

.support__text {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
  font-size: 1.2rem;
}

@media screen and (max-device-width: 651px) {
  .support__text {
    font-size: 0.8rem;
    width: 70%;
    margin: 0 auto;
  }
}

/*------------ Product Section ---------------*/
.product__title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(44, 44, 89, 0.9);
  white-space: nowrap;
  overflow: hidden;
}

.product__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-device-width: 480px) {
  .product__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-device-width: 980px) {
  .product__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.product__container-box {
  overflow: hidden;
  /*
            flex: 1 1 35rem;
            @include tablet ($min-screen : 481px, $max-screen : 870px) {
                flex: 1 1 30rem;
            }
            @include tablet ($min-screen : 1150px, $max-screen : 1400px) {
                flex: 1 1 30rem;
            }
            @include computer_lg ($min-screen : 1760px) {
                flex: 1 1 45rem;
            }
            */
  text-align: center;
  position: relative;
  cursor: pointer;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.product__container-box:hover .box-icons,
.product__container-box:focus .box-icons {
  display: inline;
}

.product__container-box img {
  padding-top: 8%;
  max-width: 80%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.product__container-box .box-content {
  padding-top: 5rem;
}

.product__container-box .box-title {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
}

.product__container-box .box-icons {
  top: 2%;
  left: 1%;
  position: absolute;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  display: none;
  -webkit-animation: shoe .3s linear;
          animation: shoe .3s linear;
}

@keyframes shoe {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

/*------------ Featured Section ---------------*/
.featured__title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(44, 44, 89, 0.9);
  white-space: nowrap;
}

.featured__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
}

.featured__container-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
  text-align: left;
  margin-top: auto;
  cursor: unset;
}

@media screen and (max-device-width: 876px) {
  .featured__container-box {
        grid-template-areas: "img  img" "txt  txt";
  }
}

@media screen and (max-device-width: 876px) {
  .featured__container-box .box-img {
    grid-area: img;
  }
}

.featured__container-box .box-img-thumbline {
  width: 20%;
  float: left;
}

.featured__container-box .box-img-thumbline-icon {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.featured__container-box .box-img-cover {
  width: 70%;
  padding: 15%;
  float: right;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-device-width: 876px) {
  .featured__container-box .box-img-cover {
    width: 80%;
    padding: 15%;
  }
}

.featured__container-box .box-img-cover:hover, .featured__container-box .box-img-cover:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.featured__container-box .box-img-cover img {
  margin: auto;
  display: block;
}

.featured__container-box .box-content {
  margin: auto 0;
}

@media screen and (max-device-width: 876px) {
  .featured__container-box .box-content {
    grid-area: txt;
  }
}

.featured__container-box .box-title {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
}

@media screen and (max-device-width: 876px) {
  .featured__container-box .box-title {
    font-size: 2.2rem;
    margin-top: 1.2rem;
  }
}

/*------------ Review Section ---------------*/
.review__title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(44, 44, 89, 0.9);
  white-space: nowrap;
}

.review__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-device-width: 877px) {
  .review__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.review__container-area {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
  padding-top: 0.5rem;
}

.review__container-img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

/*------------ Newsletter Section ---------------*/
.newsletter {
  text-align: center;
  margin: 0 9%;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
}

.newsletter .container-fluid {
  width: 50%;
}

@media screen and (max-device-width: 650px) {
  .newsletter .container-fluid {
    width: 100%;
  }
}

.newsletter .container-fluid form {
  white-space: nowrap;
  margin: 0 auto;
}

.newsletter__title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(44, 44, 89, 0.9);
  white-space: nowrap;
}

.newsletter__text {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
  font-size: 1.4rem;
}

@media screen and (max-device-width: 850px) {
  .newsletter__text {
    font-size: 1.2rem;
  }
}

.newsletter__mail .mail-holder {
  font-size: 1.7rem;
  text-transform: none;
  color: rgba(44, 44, 89, 0.5);
  padding: 1rem;
  border: 0.2rem solid rgba(44, 44, 89, 0.5);
  border-right: none;
}

.newsletter__mail .mail-sender {
  width: 10rem;
  font-size: 1.8rem;
  text-transform: none;
  color: rgba(44, 44, 89, 0.5);
  padding: 1.1rem;
  border: 0.2rem solid rgba(44, 44, 89, 0.5);
  margin-bottom: 0.1rem;
}

@media screen and (max-device-width: 484px) {
  .newsletter__mail .mail-sender {
    padding: 1.06rem;
  }
}

/*------------Footer Section-------------*/
.footer {
  text-align: center;
  margin: 0 9%;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(34, 33, 33, 0.1);
  border: 0.1rem solid rgba(34, 33, 33, 0.2);
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 4rem;
}

.footer .container-fluid {
  margin: 0;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-device-width: 850px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-device-width: 430px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-device-width: 431px) {
  .footer__div {
    margin-right: auto;
  }
}

.footer__title {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-device-width: 431px) {
  .footer__link {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__link a {
  font-size: 1.7rem;
  font-weight: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
  color: rgba(96, 96, 96, 0.9);
  font-size: 1.4rem;
}

.footer__link a:hover, .footer__link a:focus {
  color: rgba(255, 159, 26, 0.9);
}
/*# sourceMappingURL=main.css.map */