/*------------ About Me Section ---------------*/
.featured{
    &__title{
       @include heading;
    }
    &__container{
        @include box-grid;
        grid-row-gap: 1.5rem;
        
        &-box{
            grid-column: 1 / 4;
            @include box-grid;
            @include mobile ($max-screen : 876px){
                grid-template-areas: "img  img"
                                     "txt  txt";
            }
            @include box;
            text-align: left;
            margin-top: auto;
            cursor: unset;
            .box{
                
                &-img{
                    @include mobile ($max-screen : 876px){
                        grid-area: img;
                    }
                    
                    &-thumbline{
                        &-icon{
                            @include box;
                        }
                        
                        width: 20%;
                        float: left;
                    }
                    &-cover{
                        width: 70%;
                        padding: 15%;
                        @include mobile ($max-screen : 876px){
                            width: 80%;
                            padding: 15%;
                        }
                        float: right;
                        text-align: center;
                        cursor: pointer;
                        &:hover,
                        &:focus{
                            transform: scale(1.5);
                        }
                        img{
                            margin: auto;
                            display: block;
                        }
                    }
                }
                &-content{
                    @include mobile ($max-screen : 876px){
                        grid-area: txt;
                    }
                    margin: auto 0;
                }
                &-title{
                    
                    @include card-title;
                    @include mobile ($max-screen : 876px){
                        font-size: 2.2rem;
                        margin-top: 1.2rem
                    }
                }
                
            }
        }
    }
}