/*------------ About Me Section ---------------*/
.featured{
    &__title{
       @include heading;
    }
    &__container{
        @include box-grid;
        grid-row-gap: 1.5rem;
        
        &-box{
            grid-column: 1 / 4;
            @include box-grid;
            grid-template-areas: "img  text";
            @include mobile ($max-screen : 876px){
                grid-template-areas: "img  img"
                                    "txt  txt";
            }
            @include box;
            text-align: left;
            margin-top: auto;
            .box{
                
                &-img{
                    @include mobile ($max-screen : 876px){
                        grid-area: img ;
                    }
                    
                    &-thumbline{
                        &-icon{
                            @include box;
                        }
                        
                        width: 20%;
                        float: left;
                    }
                    &-cover{
                        width: 65%;
                        padding: 5%;
                        float: right;
                        &:hover,
                        &:focus{
                            transform: scale(1.5);
                        }
                    }
                }
                &-content{
                    @include mobile ($max-screen : 876px){
                        grid-area: txt;
                    }
                    margin: auto 0;
                }
                &-title{
                    @include card-title;
                }
                
            }
        }
    }
}