/*------------ Intro Section ---------------*/
.product{
    &__title{
        @include heading;
        overflow: hidden;
    }
    &__container{
        //@include box-flex;
        @include box-grid;

        @include mobile ($max-screen : 480px) {
            grid-template-columns: repeat(1, 1fr);
        }
        @include computer_lg ($min-screen : 980px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        gap: 1.5rem;
        
        &-box{
            overflow: hidden;
            /*
            flex: 1 1 35rem;
            @include tablet ($min-screen : 481px, $max-screen : 870px) {
                flex: 1 1 30rem;
            }
            @include tablet ($min-screen : 1150px, $max-screen : 1400px) {
                flex: 1 1 30rem;
            }
            @include computer_lg ($min-screen : 1760px) {
                flex: 1 1 45rem;
            }
            */
            text-align: center;
            position: relative;
            cursor: pointer;
            @include box;
            &:hover .box-icons,
            &:focus .box-icons{
                display: inline;
            }
            img{
                padding-top: 8%;
                max-width: 80%;
                transform: rotate(-25deg);
            }
            .box{
                &-content{
                    padding-top: 5rem;
                }
                &-title{
                    @include card-title;
                }
                &-icons{
                    top: 2%;
                    left: 1%;
                    position: absolute;
                    writing-mode: tb;
                    display: none;
                    animation: shoe .3s linear;
                }
                @keyframes shoe{
                    0%{
                        transform: rotate(0deg) scale(.5);
                    }
                }
            }
            
        }
    }
}