/*------------ Support Section ---------------*/
.support{
    &__area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include computer_lg ($min-screen : 555px){
            grid-template-columns: repeat(3, 1fr);
        }
        grid-gap: 1.5rem;
        
        padding: 1rem;
        i{
            font-size: 4rem;
        } 
        &--delivery{  
            @include box;
        }
        &--replacement{
            @include box;
        }
        &--time{
            @include box;
        }
        
    }
    &__heading{
        @include text;
        font-size: 1.8rem;
        @include mobile ($max-screen : 651px){
            font-size: 1.2rem;
            width: 70%;
            margin: 0 auto;
        }
            
        
    }
    &__text{
        @include text;
        font-size: 1.2rem;
        @include mobile ($max-screen : 651px){
            font-size: 0.8rem;
            width: 70%;
            margin: 0 auto;
        }
    }
}