.support{
    &__area{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "delivery replacement time";
        grid-column-gap: 1.5rem;
        @include box;
        padding: 1rem;
        i{
            font-size: 2.7rem;
        }
        &--deliverye{
            grid-area: delivery;           
        }
        &--replacement{
            grid-area: replacement;
        }
        &--time{
            grid-area: time;
        }
        
    }
    &__heading{
        @include text;
        @include mobile ($max-screen : 767px){
            font-size: 1.3rem;
        }
        @include mobile ($max-screen : 280px){
            font-size: 1rem;
        }
    }
    &____text{
        @include text;
        font-size: 1rem;
        @include mobile ($max-screen : 280px){
            font-size: 0.8rem;
        }
    }
}